@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #fff;
}
em,
i {
  font-style: normal;
}
ul,
li {
  list-style-type: none;
}
strong {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  color: #969696;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}
img {
  border: none;
}
input {
  font-family: 'Microsoft YaHei';
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w33 {
  width: 33.333333%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block !important;
}
.dn {
  display: none;
}
/*单行溢出*/
.one_txt_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
/* 水平垂直居中的公共类 */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 水平居中公共类 */
.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 垂直居中公共类 */
.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bgz {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.bz {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 48px;
}
.mui-scroll-wrapper {
  top: 48px;
}
.foldNav {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 48px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 10;
}
.foldNav.fold {
  display: none;
}
.foldNav .whitemask {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  z-index: 10;
  right: 0;
  top: 0;
}
.foldNav .whitemask .iconfont {
  color: #436ED2;
  font-size: .75rem;
  right: .9375rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.foldNav ul {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 5;
  padding: .3125rem .875rem;
  box-sizing: border-box;
  zoom: 1;
}
.foldNav ul:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.foldNav ul > li {
  margin: .3125rem .5rem;
  padding: 0 1.75rem;
  box-sizing: border-box;
  float: left;
  height: 1.75rem;
  line-height: 1.75rem;
  border: 1px solid #DDDDDD;
}
.foldNav ul > li.active {
  border: 1px solid #5971F6;
}
.foldNav ul > li.active a {
  color: #5971F6;
  font-size: .875rem;
}
.foldNav ul > li a {
  font-size: .875rem;
  color: #333;
}
.mui-segmented-control.mui-scroll-wrapper {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mui-segmented-control.mui-scroll-wrapper .whitemask {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  z-index: 10;
  right: 0;
  top: 0;
  border-left: 1px solid #eee;
}
.mui-segmented-control.mui-scroll-wrapper .whitemask .iconfont {
  color: #436ED2;
  font-size: .75rem;
  right: .9375rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
  width: auto;
  height: 2.1875rem;
  white-space: nowrap;
  padding: 0 .9375rem;
  font-size: 0;
}
.mui-segmented-control.mui-scroll-wrapper {
  height: 2.1875rem;
}
.mui-bar ~ .mui-content .mui-fullscreen {
  height: auto;
}
.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
}
.mui-bar ~ .mui-pull-top-tips {
  top: 24px;
}
.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;*/
  margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
  text-align: center;
  background-color: #efeff4;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}
.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.mui-pull-top-canvas canvas {
  width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
  background-color: #fff;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
  display: inline-block;
  width: auto;
  padding: 0;
  padding-right: 1rem;
  border: 0;
  font-size: .9375rem;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item:first-child {
  padding-left: 0;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item:last-child {
  padding-right: 1.25rem;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #5971F6;
  font-size: 1rem;
}
.mui-segmented-control .mui-control-item {
  line-height: 2.1875rem;
}
.mui-fullscreen .mui-segmented-control ~ .mui-slider-group {
  position: absolute;
  top: 2.0875rem;
  bottom: 0;
  width: 100%;
  height: auto;
}
