.mui-scroll-wrapper {
  top: 48px;
}
.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 102px;
}
/* 设置小圆点样式 */
.swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  display: inline-block;
  background: #000;
  opacity: 0.2;
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #5971F6;
}
.swiper-slide {
  width: 200px;
}
